numpy==1.23.5
face_alignment==1.4.1
imageio==2.19.3
imageio-ffmpeg==0.4.7
librosa==0.9.2 # 
numba
resampy==0.3.1
pydub==0.25.1 
scipy
kornia
tqdm
yacs
pyyaml  
joblib==1.1.0
scikit-image
basicsr
facexlib
gradio
gfpgan
dlib-bin
ninja
paddlepaddle-gpu